<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/node_modules/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet" />
    @RenderSection("extrastyles", required: false)
</head>
<body>
    <header>

    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - AspNetMVC5WinAuth</p>
        </footer>
    @RenderSection("scripts", required: false)
    </body>
</html>